body {
    margin: 0;
    padding: 0;
    background: #212928;
}

.cabecalho {
    background: #BBBBBB;
    display: flex;
}

.logo{
    margin-left: 15px;
}

.inscre {
    margin-left: 1500px;
    margin-top: 25px;
    font-size: 23px;
}

.entrar {
    margin-left: 40px;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 23px;
    color: white;
    background: #313131;
    border-radius: 6px;
    width: 80px;
    height: 30px;
}

.entrar{
    text-align: center;
}

.pretudo{

}

.pre {
    font-family: 'Post No Bills Jaffna Light';
    font-size: 38px;
    line-height: 57px;
    color: #FFFFFF;
}



.gratuito {
}

.suge {
    font-family: 'Post No Bills Jaffna Light';
    font-size: 38px;
    line-height: 57px;
    color: #FFFFFF;
}

.foto img{
    width: 371px;
    height: 220px;
    border-radius: 20px;
    padding: 40px;
    border-radius: 80px;
}

.final{
    display: flex;
}

.image img{
    width: 443px;
    height: 270px;
    border-radius: 20px;
    padding: 40px;
    border-radius: 80px;
}

.image{
    margin-left: 50px;
    align-items: center;
    display: flex;
}

.ghost{
    color: white;
    font-size: 38px;
    margin-left:-35px;
    align-content: ;
}


/* spider */
.image2 img{
    width: 368px;
    height: 213px;;
    border-radius: 20px;
    padding: 40px;
    border-radius: 80px;
}

.image2{
    margin-top: 40px;
    font-size: 38px;
    align-items: center;
    display: flex;
}

.spider{
    color: white;
    font-size: 38px;
    margin-left:-30px;
}